/*
Customize ibm plex handling - not effective
@use '@ibm/plex/scss/ibm-plex' with (
  $font-prefix: './assets'
);
*/

// disable ibm plex font face
@use '@carbon/react' with (
  $css--font-face: false
);


@use '@carbon/react/scss/themes' as *;
@use '@carbon/styles/scss/grid' as *;
@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/type' as *;
@use '@carbon/styles/scss/colors' as *;

.login-container {
  //background: linear-gradient(135deg, #003087 0%, #005eb8 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: if(global-variable-exists('spacing-05'), $spacing-05, $custom-spacing-05);
}