name: Build pushed commit

on:
  push:
    branches: [ "master", "3.*" , "4.*" ]

jobs:
  build:
    permissions:
      checks: write
      contents: read
    uses: 'connectorio/gh-actions-shared/.github/workflows/maven.yml@master'
    secrets:
      CI_DEPLOY_USERNAME: ${{ secrets.CI_DEPLOY_USERNAME }}
      CI_DEPLOY_PASSWORD: ${{ secrets.CI_DEPLOY_PASSWORD }}
    with:
      openhab: false
      server_id: thing4-snapshots
      deploy: true
      skip_test_publish: true
      additional_profiles: 'thing4,openhab'